@use '../../styles/globals.scss' as *;


main {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1.25rem;

	gap: 2.5rem;
	flex: 1;
}


.logo {
	font-family: 'LilyScriptOne', cursive;
	@include fluid-text(32, 24);
	color: $fc-logo;
	padding: 0.625rem 0;
}

section {
	display: flex;
	padding: 1.25rem;
	gap: 1.25rem;

	h2 {
		@include fluid-text(28, 20);
	}
}

.flexItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.parametersContent {
	flex-direction: column;
	gap: 1.25rem;
}

@media (max-width: 768px) {
	section {
		flex-direction: column;
	}
}