@use '../../styles/globals.scss' as *;

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;

  position: fixed;

  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: $secondary-color;
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
  padding: 1.25rem;

  transition: 0.3s ease;
  color: $fc-main;
  z-index: 1000;

	.close{
		text-align: start;
		width: 100%;
		margin-bottom: 0.625rem;
	}

	.list{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;	
		gap: 1rem;

		a {
			text-align: start;
			display: block;
			color: $fc-main;
			text-decoration: none;
			@include fluid-text(20, 16);

			padding: 0.5rem 1rem;
			border-radius: 2rem;
			transition: background-color 0.2s ease-in-out;

			&:hover {
				background-color: $block-color;
			}
		}
	} 
}

.sidebar.active {
  right: 0;
}

.profileIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: $block-color;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
