@use '../../styles/globals.scss' as *;

.calendarSidebar{
	display: flex;
	flex-direction: column;
	align-items: center;

  position: fixed;

  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $secondary-color;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
  padding: 1.25rem;

  transition: 0.3s ease;
  color: $fc-main;
  z-index: 1000;

	.close{
		text-align: end;
		width: 100%;
		margin-bottom: 0.625rem;
	}

	.list{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;	
		gap: 1rem;
	}
}

.calendarSidebar.active {
  left: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}