@use '../../styles/globals.scss' as *;

button {
    display: flex;
    align-items: center;
    justify-content: center;

    text-wrap: nowrap;
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;

    gap: 0.625rem;
    background-color: transparent;
    padding: 0.625rem;

    border-radius: 2rem;
    border: none;
    outline: none;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }
}

.colored{
    background: linear-gradient(90deg,
        rgba(102, 186, 241, 1) 0%,
        rgba(14, 123, 196, 1) 80%,
        rgba(102, 186, 241, 1) 100%);
    color: $fc-dark;
    position: relative;
    overflow: hidden;
}

.colored::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 80%
  );
}

.colored:hover::before {
  animation: shine 3s forwards;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.default{
  background-color: $fc-main;
	color: rgb(22, 22, 22);
	padding: 0.3125rem 0.625rem;
  font-size: 0.75rem;

	transition: all 0.3s ease;
}