@use '../../styles/globals.scss' as *;

.editForm {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1rem;
	background-color: $block-color;   
	padding: 20px;
	border-radius: 2rem;

	position: absolute;
	top: 1rem;
	right: 1rem;
	opacity: 1;
	z-index: 1002;

	transition: opacity 0.3s ease;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.25rem;
	width: 100%;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}

.close{
	cursor: pointer;
}

.uploadAvatarInput {
	display: none;
}

.avatarContainer{
	position: relative;
}

.uploadAvatar {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: $secondary-color;
	padding: 0.25rem;
	border-radius: 2rem;

	aspect-ratio: 1 / 1;
	max-width: 2rem;
	max-height: 2rem;
	cursor: pointer;

	top: 70%;
	left: 75%;
}

.deleteAvatar {
	color: $fc-main;
	padding: 0;

	transition: color 0.3s ease;

	&:hover {
		color: $fc-dark;
	}
}

.profileBaseIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background-color: $contrast-color;
}

.profileLetter {
	font-size: 3rem;
	font-weight: 600;
	color: $fc-dark;
}

.profileIconImage {
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	object-fit: cover;
}


.hidden {
   display: none;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1001;
}

