@use '../../styles/globals.scss' as *;

.block,
.coloredBlock{
    display: flex;
    flex-direction: column;

    padding: 1.25rem;
    gap: 0.625rem;
}


.block{
    align-items: center;
    text-align: center;
    width: 50%;

    border-radius: 2rem;
    background-color: $block-color;
}

.coloredBlock{
    width: 70%;
		.desc{
    	color: $fc-contrast;
	}
}

.title{
    @include fluid-text(24, 20);
    font-weight: $fw-semibold;
}

.description{
    @include fluid-text(20, 16);
    font-weight: $fw-light;
}

.coloredDescription{
    @include fluid-text(20, 16);
    font-weight: $fw-light;
    color: $fc-contrast;
}

@media (max-width: 52rem) {
	.block {
        width: 70%;
    }
}	

@media (max-width: 39.5rem) {
	.block {
        width: 100%;
    }
}
