@font-face {
    font-family: 'LilyScriptOne';
    src: url('../assets/fonts/LilyScriptOne-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}