@use 'sass:math';

@mixin fluid-text($max: 128, $min: 9) {
	$maxViewportWidth: 1920;
	$minViewportWidth: 320;
	
	$maxSize: math.div($max, 16);
	$minSize: math.div($min, 16);
	$maxWidth: math.div($maxViewportWidth, 16);
	$minWidth: math.div($minViewportWidth, 16);

	$slope: math.div($maxSize - $minSize, $maxWidth - $minWidth);
	$intercept: -$minSize * $slope + $minSize;

	font-size: clamp(
		#{$minSize * 1rem},
		#{$intercept * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem}
	)
}