@use './globals.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: $fw-medium;
}

html { 
    scroll-behavior: smooth; 
    scroll-padding-top: $margin-top-body;
}

body {
    background-color: $main-color;
    color: $fc-main;
    margin: 0;
}