@use './functions.scss';

$fw-light: 300;
$fw-medium: 500;
$fw-semibold: 600;

$fc-logo: rgba(17, 139, 222, 1);
$fc-main: rgba(212, 212, 212, 1);
$fc-secondary: rgba(190, 190, 190, 1);
$fc-contrast: rgba(92, 173, 228, 1);
$fc-dark: rgba(23, 25, 29, 1);

 /* ОБЩИЕ */
$main-color: rgba(34, 39, 51, 1);
$secondary-color: rgba(23, 25, 29, 1);
$contrastColor: rgba(92, 173, 228, 1);
$block-color: rgba(68, 77, 102, 1);

/* РАЗМЕРЫ */
$margin-top-body: 6.75rem; //108px

