@use '../../styles/globals.scss' as *;


.mainPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 1.25rem;

	gap: 2.5rem;
	flex: 1;
}

.icon {
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: $secondary-color;
	top: 1.25rem;
	border-radius: 100rem;
	padding: 0.625rem;

	filter: drop-shadow(0px 0px 0.625rem rgba(0, 0, 0, 0.25));

	z-index: 100;
	position: fixed;
}

.menu {
	left: 1.25rem;
}

.calendar {
	right: 1.25rem;
}

.logo {
	font-family: 'LilyScriptOne', cursive;
	@include fluid-text(32, 24);
	color: $fc-logo;
	padding: 0.625rem;
}

.dayBar {
	background-color: $secondary-color;
	text-align: center;
	@include fluid-text(32, 20);

	padding: 0.625rem;

	width: 100%;
}

section {
	display: flex;
	padding: 1.25rem;
	gap: 1.25rem;

	h2 {
		@include fluid-text(28, 20);
	}
}

.flexItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.parametersContent {
	flex-direction: column;
	gap: 1.25rem;
}

.item {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 0.625rem;

	width: 100%;
}

button.add {
	background-color: $block-color;
	width: 100%;
	@include fluid-text(28, 20);
}

@media (max-width: 768px) {
	section {
		flex-direction: column;
	}
}
