@use '../../styles/globals.scss' as *;

header {
	display: flex;
	align-items: center;
	gap: 2.5rem;

	background-color: $secondary-color;
	border-radius: 2rem;
	padding: 0.625rem;
	margin: 1.25rem auto 1.25rem auto ;
	width: 70%;

	filter: drop-shadow(0px 0.25rem 0.625rem rgba(0, 119, 179, 0.16));

	position: fixed;
	top: 0;
	z-index: 1000;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
}

.logo{
		font-family: 'LilyScriptOne', cursive;
    @include fluid-text(32, 24);
    color: $fc-logo;
}

a {
		text-decoration: none;
		color: $fc-main;
		margin: 0;
}

.tagline {
	display: flex;
	gap: 1.25rem;
	align-items: center;

	a{
		font-weight: $fw-semibold;
		font-family: 'Roboto', Arial, sans-serif;
		@include fluid-text(16, 12);
		transition: all 0.3s ease;

		&:hover {
			color: $fc-contrast;
		}
	}
}

.buttonText{
    @include fluid-text(16, 12);
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: $fw-semibold;
}

.inTextLogo {
		font-weight: $fw-medium;
    font-family: 'LilyScriptOne', cursive;
}

@media (max-width: 70.75rem) {
	header {
		padding: 0.625rem;
		margin: 1.25rem auto 1.25rem auto; 
		width: 90%;
	}
}	

@media (max-width: 52rem) {
	header {
		padding: 0.625rem;
		margin: 1.25rem auto 1.25rem auto;
		nav{
			justify-content: right;
			.tagline:first-child{
				display: none;
			}
		}
	} 
}


