@use '../../styles/globals.scss' as *;

footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 7.5rem auto 0.625rem auto;
	width: 70%;
}

ul {
	display: flex;
	list-style-type: none;
}

li {
	a {
		font-weight: $fw-medium;
		font-family: 'Roboto', Arial, sans-serif;
		color: $fc-main;
		@include fluid-text(16, 12);

		transition: all 0.3s ease;

		&:hover {
			color: $fc-contrast;
		}
	}
}

hr {
	width: 100%;
	border: 0;
	height: 1px;
	background-color: #555;
	margin: 0.625rem 0;
}

.logo {
	font-family: 'LilyScriptOne', cursive;
	@include fluid-text(32, 24);
	color: $fc-logo;
}

.item1,
.item2 {
	display: flex;
	gap: 2.5rem;

	width: 100%;
}

.item1 {
	ul {
		display: flex;
		justify-content: space-between;

		flex-basis: 75%;
	}

	.logoBlock {
		display: flex;
		flex-direction: column;
		gap: 0.3125rem;

		flex-basis: 25%;
	}
}

.slogan {
	font-family: 'Roboto', Arial, sans-serif;
	color: $fc-main;
	font-weight: $fw-medium;
	@include fluid-text(24, 20);
}

.item2 {
	align-items: center;
	justify-content: space-between;

	ul {
		display: flex;
		gap: 1.25rem;
	}
}

.bottomLeft {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.languageButton{
		background-color: $fc-main;
		color: rgb(22, 22, 22);
		padding: 0.3125rem 0.625rem;
		@include fluid-text(12, 9);

		transition: all 0.3s ease;
	}

.copyright {
	font-family: 'Roboto', Arial, sans-serif;
	@include fluid-text(12, 9);
	color: $fc-secondary;
}

.socialLink {
	svg {
		@include fluid-text(24, 20);
	}
}

@media (max-width: 64rem) {
	footer {
        width: 60%;
    }
}

@media (max-width: 48rem) {
	footer {
        width: 80%;
    }
	.bottomLeft {
			align-items: flex-start;
			justify-content: space-between;
			height: auto;
			flex-direction: column;
		}
}	

@media (max-width: 27rem) {
	footer {
    width: 90%;
  }

	.item1 {
		gap: 0.625rem;

		.logoBlock{
			flex-basis: 70%;
		}

		ul{
			flex-direction: column;
			align-items: flex-end;
			gap: 0.25rem;
			flex-basis: 30%;
		}
		
	}
	
	.item2 {
		ul {
			flex-direction: column;
			align-items: flex-end;
			gap: 0.25rem;
		}
	}
	
}
