@use '../../styles/globals.scss' as *;

section{
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 70%;
    padding: 2.5rem 0;
    margin: 0 auto;
}

.colored{
    border-radius: 0;
    background-color: $secondary-color;
}

.title{
    text-align: center;
    @include fluid-text(32, 24);
}


@media (max-width: 90rem) {
	.container {
        width: 90%;
    }
}	

